.wh {
    color: $w-color;
}
.mb-8 {
    margin-bottom: 8px;
}
.d-none {
    display: none;
}
.gray-color-4 {
    background-color: #f2f2f2;
}
.bk-color {
    background-color: #000000;
}
.mb-40 {
    margin-bottom: 40px;
}
.mr-12 {
    margin-right: 12px;
}
