<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-group">
                <ul class="footer-menu">
                    <li class="menu"><a href="#">首頁</a></li>
                    <li class="menu"><a href="#">系列鏡框</a></li>
                    <li class="menu"><a href="#">門市據點</a></li>
                    <li class="menu"><a href="#">部落格</a></li>
                    <li class="menu"><a href="#">常見問題</a></li>
                </ul>
                <ul class="social-group">
                    <li class="social-conent">
                        <a href="#"
                            ><img
                                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true"
                                alt="fb"
                        /></a>
                    </li>
                    <li class="social-conent">
                        <a href="#"
                            ><img
                                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true"
                                alt="ig"
                        /></a>
                    </li>
                    <li class="social-conent">
                        <a href="#"
                            ><img
                                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true"
                                alt="line"
                        /></a>
                    </li>
                </ul>
            </div>

            <div class="information">
                <a class="information-content mb-8" href="tel:0800-000-000"
                    ><span class="material-symbols-outlined"> call </span>0800-000-000</a
                >
                <a class="information-content" href="mailto:glasses@business.com"
                    ><span class="material-symbols-outlined"> mail </span>glasses@business.com</a
                >
            </div>
        </div>

        <div class="footer-bottom">
            <p class="copyright">Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="service-group">
                <li><a href="#">隱私權政策</a></li>
                <li><a href="#">服務條款</a></li>
            </ul>
        </div>
    </div>
</footer>
