.tab-group {
    display: flex;
    justify-content: center;
    .tab-link {
        color: $bk-color;
        font-weight: 700;
        font-size: $font-size-subtitle;
        @include mobile {
            font-size: $font-size-text;
        }
    }
    .tab {
        width: 33.3%;
        padding: 24px 0;
        border: 1px solid $gray-color-2;
        text-align: center;
        @include mobile {
            padding: 16px 0;
        }
    }
    .tab.active {
        border-bottom: 8px solid $primary-color;
    }
}

.product-header-group {
    display: flex;
    .product-header {
        display: flex;
        img {
            width: 100%;
            height: 100%;
        }
        @include mobile {
            display: none;
        }
    }
    .product-header-mobile {
        display: none;
        img {
            width: 100%;
            height: 100%;
        }
        @include mobile {
            display: flex;
        }
    }
}
.product {
    padding: 80px 0;
    @include mobile {
        padding: 40px 0;
    }
    .inpage-title {
        color: $bk-color;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 32px;
        @include mobile {
            font-size: $font-size-text;
        }
        .title {
            font-weight: 700;
            font-size: $font-size-inpage-title;
            @include mobile {
                font-size: $font-size-body;
            }
        }
        .subtitle {
            font-size: $font-size-subtitle;
            @include mobile {
                font-size: $font-size-body;
            }
        }
    }
    .product-group {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        justify-content: center;
        @include mobile {
            flex-direction: column;
            align-items: center;
            padding: 0 14px 40px;
            gap: 0;
        }
    }
    .product-text {
        display: flex;
        justify-content: space-between;
        .product-price {
            font-weight: 700;
            color: $primary-color;
        }
    }
    .product-content {
        width: 32%;
        line-height: 1.5;
        margin-bottom: 80px;
        @include pad {
            width: 48%;
            margin-bottom: 40px;
        }
        @include mobile {
            width: 90%;
            margin-bottom: 24px;
        }
    }
    .color-group {
        display: flex;
        .color-1 {
            width: 24px;
            height: 24px;
            background-color: $product-color-1;
            border-radius: 4px;
            margin-right: 8px;
        }
        .color-2 {
            width: 24px;
            height: 24px;
            background-color: $product-color-2;
            border-radius: 4px;
        }
    }
    .pagination-group {
        display: flex;
        justify-content: center;
        font-size: $font-size-page;
        color: $gray-color-3;
        @include mobile {
            font-size: $font-size-text;
            padding: 0 14px 24px;
            white-space: nowrap;
        }
        .page-item {
            border: 1px solid $gray-color-3;
        }
        .page-item .wh-color {
            color: #ffffff;
        }
        .page-link {
            padding: 12px 14px;
            color: inherit;
            display: inline-block;
        }
    }
}
