<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>門市據點</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
        />
    </head>
    <body>
        <%- include('./layout/header'); -%>
        <section class="store">
            <div class="container">
                <h2 class="inpage-title-2"><span></span>門市據點</h2>
                <div class="select-group">
                    <p class="title">選擇地區</p>
                    <select class="select-content" name="area" id="area">
                        <option value="台北市">台北市</option>
                        <option value="新北市">新北市</option>
                    </select>
                </div>
                <ul class="store-group">
                    <li class="store-conent">
                        <a class="store-photo" href="store-data.html"
                            ><img
                                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-1.png?raw=true"
                                alt="門市一"
                        /></a>
                        <p class="title">台北中山旗艦店</p>
                        <div class="store-information">
                            <a class="item" href="#"
                                ><span class="material-symbols-outlined"> call </span>電話：(02)000-1234</a
                            >
                            <a class="item" href="#"
                                ><span class="material-symbols-outlined"> schedule </span>營業時間：10:00-21:00</a
                            >
                            <a class="item" href="#"
                                ><span class="material-symbols-outlined"> location_on </span
                                >地址：台北市中山區南京東路25巷2-1號</a
                            >
                        </div>
                        <a class="btn" href="store-data.html">詳細資訊</a>
                    </li>
                    <li class="store-conent">
                        <a class="store-photo" href="#"
                            ><img
                                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-2.png?raw=true"
                                alt="門市一"
                        /></a>
                        <p class="title">台北綠園店</p>
                        <div class="store-information">
                            <a class="item" href="#"
                                ><span class="material-symbols-outlined"> call </span>電話：(02)000-1234</a
                            >
                            <a class="item" href="#"
                                ><span class="material-symbols-outlined"> schedule </span>營業時間：10:00-21:00</a
                            >
                            <a class="item" href="#"
                                ><span class="material-symbols-outlined"> location_on </span
                                >地址：台北市中山區南京東路25巷2-1號</a
                            >
                        </div>
                        <a class="btn" href="#">詳細資訊</a>
                    </li>
                    <li class="store-conent">
                        <a class="store-photo" href="#"
                            ><img
                                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-3.png?raw=true"
                                alt="門市一"
                        /></a>
                        <p class="title">台中清水旗艦店</p>
                        <div class="store-information">
                            <a class="item" href="#"
                                ><span class="material-symbols-outlined"> call </span>電話：(02)000-1234</a
                            >
                            <a class="item" href="#"
                                ><span class="material-symbols-outlined"> schedule </span>營業時間：10:00-21:00</a
                            >
                            <a class="item" href="#"
                                ><span class="material-symbols-outlined"> location_on </span
                                >地址：台北市中山區南京東路25巷2-1號</a
                            >
                        </div>
                        <a class="btn" href="#">詳細資訊</a>
                    </li>
                    <li class="store-conent">
                        <a class="store-photo" href="#"
                            ><img
                                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-4.png?raw=true"
                                alt="門市一"
                        /></a>
                        <p class="title">高雄中正形象店</p>
                        <div class="store-information">
                            <a class="item" href="#"
                                ><span class="material-symbols-outlined"> call </span>電話：(02)000-1234</a
                            >
                            <a class="item" href="#"
                                ><span class="material-symbols-outlined"> schedule </span>營業時間：10:00-21:00</a
                            >
                            <a class="item" href="#"
                                ><span class="material-symbols-outlined"> location_on </span
                                >地址：台北市中山區南京東路25巷2-1號</a
                            >
                        </div>
                        <a class="btn" href="#">詳細資訊</a>
                    </li>
                    <li class="store-conent">
                        <a class="store-photo" href="#"
                            ><img
                                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-5.png?raw=true"
                                alt="門市一"
                        /></a>
                        <p class="title">高雄夢時代店</p>
                        <div class="store-information">
                            <a class="item" href="#"
                                ><span class="material-symbols-outlined"> call </span>電話：(02)000-1234</a
                            >
                            <a class="item" href="#"
                                ><span class="material-symbols-outlined"> schedule </span>營業時間：10:00-21:00</a
                            >
                            <a class="item" href="#"
                                ><span class="material-symbols-outlined"> location_on </span
                                >地址：台北市中山區南京東路25巷2-1號</a
                            >
                        </div>
                        <a class="btn" href="#">詳細資訊</a>
                    </li>
                </ul>
            </div>
        </section>
        <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
    </body>
</html>
